body {
    background: rgb(40, 43, 44);
  }

  canvas {
    display: block;
    position:fixed;
    margin: auto;
    top: 0;
    bottom: 0;
    left:0;
    right:0;
    border:1px solid #d3d3d3;
    background-color: #9097d3;
}

#container {
  position:fixed;
  top:50%;
  left: 50%;
  min-width: 1024px;
  max-width: 1024px;
  float: inline-start;
  }
  
  .button {
    background-color: #b4b4b4;
    border: 5px solid #8a8a8a;
    padding: 20px 20px;
    margin: 2px;
    position: relative;
    left: -502px;
    bottom:-229px;
  }
  
  #icon0 {
    background-color: yellow;
    padding: 5px 20px;
    display: inline-block;
    position: relative;
    margin: 2px;
    left: -453px;
    bottom: -199px;
  }

  #icon1 {
    background-color: green;
    padding: 5px 20px;
    display: inline-block;
    position: relative;
    margin: 2px;
    left: -355px;
    bottom: -199px;
  }
  
  #icon2 {
    background-color: blue;
    padding: 5px 20px;
    display: inline-block;
    position:relative;
    margin: 2px;
    left: -257px;
    bottom: -199px;
  }
  
  #icon3 {
    background-color: red;
    padding: 5px 20px;
    display: inline-block;
    position: relative;
    margin: 2px;
    left: -159px;
    bottom: -199px;
  }

  #moneybox {
    position: relative;
    background-color: rgb(166, 140, 89);
    padding: 5px 20px;
    min-width: 104px;
  max-width: 104px;
    left: -473px;
    bottom: 309px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently*/
   
  }

  #sellItemBox {
    position: relative;
    z-index:1;
    pointer-events: none;
    padding: 5px 20px;
    min-width: 104px;
  max-width: 104px;
    left: 420px;
    bottom: -306px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently*/
   
  }
  